.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.08);
    width: 100%;
    box-sizing: border-box;
    padding: 0px 1rem;
}

.logo {
    display: flex;
}

.links-container {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.link {
    padding: 6px;
    box-sizing: border-box;
    font-weight: 400;
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
    color: black;
}

.link:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.link:visited {
    color: black;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-left: 1px solid #EAEAEA;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}

.avatar-button {
    cursor: pointer;
    display: flex;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    transition: 0.3s;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-button:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.avatar-menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgb(0, 0, 0, 0.08);
    bottom: -5px;
    right: 0px;
    translate: 0 100%;
    width: 220px;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
}

.avatar-menu-username {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #EAEAEA;
}

.avatar-menu-button {
    cursor: pointer;
    border: 0px;
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 100%;
    justify-content: left;
    gap: 6px;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    color: #101010;
    font-weight: 500;
}

.avatar-menu-button:visited {
    color: #101010;
}

.avatar-menu-button:hover {
    background-color: rgb(0, 0, 0, 0.1);
}
