.tasks {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    padding: 0.5rem 1rem;
    max-height: 600px;
    overflow: auto;
    box-sizing: border-box;
    width: 300px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.08);
}

.tasks-header {
    margin: 0px;
    width: 100%;
    text-align: center;
}

.tasks-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 0.5rem;
    width: 100%;
}

.task {
    cursor: pointer;
    border: 1px solid #EAEAEA;
    background-color: white;
    border-radius: 5px;
    height: 50px;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    word-wrap: break-word;
    position: relative;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.08);
    transition: 0.1s;
    box-sizing: border-box;
    overflow: hidden;
}

.task:hover {
    background-color: #FAFAFA;
}

.task-settings {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    padding: 0px;
    border: 0px;
    position: absolute;
    top: 4px;
    right: 4px;
}
