.settings {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.1);
    z-index: 4;
}

.settings::after {
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: #EAEAEA transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.settings-button {
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    width: 60px;
    height: 20px;
    border-radius: 5px;
}

.settings-button:hover {
    background-color: #EAEAEA;
}
