.agreement {
    margin: 0px;
    font-size: small;
}

.agreement a {
    text-decoration: underline;
}

.account-types-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #9a9a9a;
}
