.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
}

.tasks-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-height: 100%;
    overflow: auto;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}
